body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #6b73ff 10%, #000dff 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  text-align: center;
  background: url('https://png.pngtree.com/thumb_back/fw800/background/20240119/pngtree-green-leaves-and-plants-wall-background-image_15612495.jpg') no-repeat center center;
  background-size: cover;
  padding: 160px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.logo {
  width: 100px;
  margin-bottom: 20px;
}

form {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
  max-width: 100%;
  animation: fadeIn 1s ease-in-out;
  margin: 0 auto;
}

.login-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.login-input-group {
  margin-bottom: 15px;
}

.login-input-group label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
  text-align: left;
}

.login-input-group input {
  width: calc(100% - 22px);
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 4px;
  transition: border-color 0.3s;
}

.login-input-group input:focus {
  border-color: #6b73ff;
  outline: none;
}

.login-button {
  width: 100%;
  padding: 10px;
  background: #00A299;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.login-button:hover {
  background: #026964;
}

.login-no-account {
  margin-top: 15px;
  color: #333;
}

.login-no-account a {
  color: #6b73ff;
  text-decoration: none;
}

.login-no-account a:hover {
  text-decoration: underline;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
