<div class="login-container">

  <form [formGroup]="loginForm" (ngSubmit)="loginPress()">
    <p *ngIf="loginError != ''" class="error">{{loginError}}</p>
    <div class="login-input-group">
      <img src="assets/img/logo_whispernature_R.png" alt="Logo" class="logo">
      <h1 class="login-title">Iniciar Sesión</h1>
      <label for="email-login">Email</label>
      <input formControlName="email" type="email" id="email-login">
      <div class="login-input-group">
        <label for="password-login">Contraseña</label>
        <input formControlName="password" type="password" id="password-login">
        <p class="login-no-account">¿No tienes una cuenta? <a routerLink="/register">Regístrate aquí</a></p>
      </div>
    </div>
    <button type="submit" class="login-button">Iniciar Sesión</button>
  </form>
</div>
