<app-header></app-header>

<div class="home-container">
  <br><br><br><br>
    <h1>Bienvenido a Whisper Nature</h1>
    <section class="about-section">
        <h2>Sobre Whisper Nature</h2>
        <p>Revoluciona el cuidado de tus plantas con nuestra maceta inteligente. Equipada con tecnología de punta, monitorea las condiciones esenciales para un crecimiento óptimo, analiza datos en la nube y te brinda recomendaciones personalizadas a través de una aplicación móvil. Un chatbot integrado te ofrece asistencia experta, garantizando el bienestar de tus plantas, incluso para los jardineros más inexpertos.</p>
    </section>

    <section class="products-section">
        <h2>Nuestros Productos</h2>
        <div class="product-list">
            <div class="product">
                <img src="assets/img/planta1.png" alt="Albahaca">
                <h3>Producto 1</h3>
                <p>La Monstera es una planta tropical conocida por sus impresionantes hojas grandes y perforadas. Es perfecta para interiores debido a su capacidad de crecer en condiciones de poca luz, agregando un toque exótico y verde a cualquier espacio.
                  Planta Suculenta.</p>
            </div>
            <div class="product">
                <img src="assets/img/planta2.png" alt="Producto 2">
                <h3>Producto 2</h3>
                <p>Las suculentas son plantas robustas que almacenan agua en sus hojas, haciéndolas extremadamente resistentes a la sequía. Son de bajo mantenimiento y perfectas para aquellos que buscan una planta que requiera poca atención. Suelen tener formas y colores variados que las hacen muy decorativas.
                  Planta Bonsái.</p>
            </div>
            <div class="product">
                <img src="assets/img/planta3.png" alt="Producto 3">
                <h3>Producto 3</h3>
                <p>El Bonsái es un árbol en miniatura que esculpe la naturaleza en una forma artística y ornamental. Originario de la cultura japonesa, el bonsái requiere un cuidado cuidadoso y regular, incluyendo la poda y modelado, para mantener su belleza y salud. Es una planta ideal para aquellos que disfrutan del arte y la jardinería..</p>
            </div>
        </div>
    </section>

    <section class="team-section">
        <h2>Nuestro Equipo de Desarrollo</h2>
        <div class="team-list">
            <div class="team-member">
                <img src="ruta-a-foto-miembro-1.jpg">
                <h3>Byron Manchego Garate</h3>
                <div class="social-links">
                    <a href="#" target="_blank">LinkedIn</a>
                    <a href="#" target="_blank">GitHub</a>
                </div>
            </div>
            <div class="team-member">
                <img src="ruta-a-foto-miembro-2.jpg">
                <h3>Jefer</h3>
                <div class="social-links">
                    <a href="#" target="_blank">LinkedIn</a>
                    <a href="#" target="_blank">GitHub</a>
                </div>
            </div>
            <div class="team-member">
                <img src="ruta-a-foto-miembro-3.jpg">
                <h3>Jaime Rodrigo Huaccac</h3>
                <div class="social-links">
                    <a href="#" target="_blank">LinkedIn</a>
                    <a href="#" target="_blank">GitHub</a>
                </div>
            </div>
            <div class="team-member">
                <img src="ruta-a-foto-miembro-4.jpg">
                <h3>Royer Moreno Villegas</h3>
                <div class="social-links">
                    <a href="#" target="_blank">LinkedIn</a>
                    <a href="#" target="_blank">GitHub</a>
                </div>
            </div>
        </div>
    </section>
</div>
