<app-header></app-header>

<div class="home-container">
    <h1>Bienvenido a Whisper Nature</h1>

    <section class="about-section">
        <h2>Sobre Whisper Nature</h2>
        <p>Revoluciona el cuidado de tus plantas con nuestra maceta inteligente. Equipada con tecnología de punta, monitorea las condiciones esenciales para un crecimiento óptimo, analiza datos en la nube y te brinda recomendaciones personalizadas a través de una aplicación móvil. Un chatbot integrado te ofrece asistencia experta, garantizando el bienestar de tus plantas, incluso para los jardineros más inexpertos.</p>
    </section>

    <section class="products-section">
        <h2>Nuestros Productos</h2>
        <div class="product-list">
            <div class="product">
                <img src="assets/img/planta1.png" alt="Albahaca">
                <h3>Producto 1</h3>
                <p>La planta Albahaca en maceta es una opción atractiva para aquellos que buscan traer un toque de verdor a sus espacios interiores. La Albahaca, conocida por su distintivo aroma, también es una planta impresionante para la decoración. Con brillantes hojas verdes y en formas y patrones únicos, será pieza clave en la decoración de cualquier habitación.</p>
            </div>
            <div class="product">
                <img src="assets/img/planta2.png" alt="Producto 2">
                <h3>Producto 2</h3>
                <p>Descripción breve del Producto 2. Destaca lo que lo hace único y valioso.</p>
            </div>
            <div class="product">
                <img src="assets/img/planta3.png" alt="Producto 3">
                <h3>Producto 3</h3>
                <p>Descripción breve del Producto 3. Menciona sus aplicaciones o ventajas clave.</p>
            </div>
        </div>
    </section>

    <section class="team-section">
        <h2>Nuestro Equipo de Desarrollo</h2>
        <div class="team-list">
            <div class="team-member">
                <img src="ruta-a-foto-miembro-1.jpg">
                <h3>Byron Manchego Garate</h3>
                <div class="social-links">
                    <a href="#" target="_blank">LinkedIn</a>
                    <a href="#" target="_blank">GitHub</a>
                </div>
            </div>
            <div class="team-member">
                <img src="ruta-a-foto-miembro-2.jpg">
                <h3>Jefer</h3>
                <div class="social-links">
                    <a href="#" target="_blank">LinkedIn</a>
                    <a href="#" target="_blank">GitHub</a>
                </div>
            </div>
            <div class="team-member">
                <img src="ruta-a-foto-miembro-3.jpg">
                <h3>Jaime Rodrigo Huaccac</h3>
                <div class="social-links">
                    <a href="#" target="_blank">LinkedIn</a>
                    <a href="#" target="_blank">GitHub</a>
                </div>
            </div>
            <div class="team-member">
                <img src="ruta-a-foto-miembro-4.jpg">
                <h3>Royer Moreno Villegas</h3>
                <div class="social-links">
                    <a href="#" target="_blank">LinkedIn</a>
                    <a href="#" target="_blank">GitHub</a>
                </div>
            </div>
        </div>
    </section>
</div>
