<div class="container">

  <form [formGroup]="RegisterForm" (ngSubmit)="RegisterPress()" class="register-form">
    <p *ngIf="registerError != ''" class="error">{{registerError}}</p>
    <fieldset>
      <img src="assets/img/logo_whispernature_R.png" alt="Logo" class="logo">
      <label for="name-login">Full Name</label>
      <input formControlName="name" type="text" id="name-login">
      <br>
      <label for="email-register">Email</label>
      <input formControlName="email" type="email" id="email-register">
      <br>
      <label for="password-register">Password</label>
      <input formControlName="password" type="password" id="password-register">
      <br>
      <label for="password2-register">Password Again</label>
      <input formControlName="password2" type="password" id="password2-register">
      <br>
      <label for="tc-register">Terminos y condiciones</label>
      <input formControlName="tc" type="checkbox" id="tc-register">
    </fieldset>
    <button type="submit">Create Account</button>
  </form>
</div>
