<div class="container">
  <div class="chat-box" id="chatBox">
    <div *ngFor="let msg of chat" class="chat-message" [ngClass]="{'admin-msg': msg.type, 'user-msg': !msg.type}">
      <p>
        <span *ngIf="msg.type" class="chat-name">admin:</span>
        <span *ngIf="!msg.type" class="chat-name">user:</span>
        {{ msg.message }}
      </p>
    </div>
  </div>

  <div class="chat-input">
    <input type="text" id="reply" name="reply" class="form-control" [(ngModel)]="reply" placeholder="Type a message...">
    <button class="btn btn-primary" (click)="sendMsg()">Send</button>
  </div>  
</div>


<style>

.chat-box {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.chat-message {
  margin-bottom: 10px;
}

.admin-msg {
  text-align: right;
}

.user-msg {
  text-align: left;
}

.chat-name {
  font-weight: bold;
}

.chat-input {
  display: flex;
  padding: 10px;
}

.chat-input input {
  flex: 1;
  margin-right: 10px;
}

</style>
