<div [hidden]="hiddenChilden[0]" class="text-white">
  <div [hidden]="hiddenConfigChilden[0]">
    <div class="d-flex align-items-start flex-column" style="height: 100vh;" >
      <p class="display-5 fw-bolder">Configuracion</p>
      <br>
      <button class="btn btn-dark fs-4" (click)="enable_Children([false, true, true])">Acerca de</button>
      <br>
      <button class="btn btn-dark fs-4" (click)="enable_Children([true, false, true])">Terminos y Condiciones</button>
      <br>
      <button class="btn btn-dark fs-4" (click)="enable_Children([true, true, false])">Cambiar Contrasena</button>

      <div class="mt-auto">
        <img src="https://static.vecteezy.com/system/resources/thumbnails/022/643/346/small_2x/green-fresh-leaves-potted-plant-png.png" width="80%" alt="">
      </div>
    </div>
  </div>

  <!-- CONTAINER ~ ABOUT ME -->
  <div [hidden]="hiddenConfigChilden[1]">
    <button class="btn btn-dark fs-6" (click)="backPage()">
      <span class="material-symbols-outlined">arrow_back_ios</span>
      <span class="mb-5 py-auto">Back</span>
    </button>
    <p>Acerca de ...</p>
  </div>

  <!-- CONTAINER ~ TC -->
  <div [hidden]="hiddenConfigChilden[2]">
    <button (click)="backPage()">regresar</button>
    <p>Terminos y Condiciones ...</p>
  </div>

  <!-- CONTAINER ~ CHANNGE PASSWORD -->
  <div [hidden]="hiddenConfigChilden[3]">
    <button (click)="backPage()">regresar</button>
    <form [formGroup]="form" (ngSubmit)="changePassword()">
      <fieldset>
        <input type="text" name="username" autocomplete="username" [hidden]="true">
        <label for="pwd">Password</label>
        <input type="password" formControlName="password" name="password" id="pwd" autocomplete="new-password">

        <!-- ERRORES -->

        <div *ngIf="form.controls.password.invalid && (form.controls.password.touched || form.controls.password.dirty)">
          <div *ngIf="form.controls.password.errors?.['required']">
            <small>Password requerido</small>
          </div>

          <div *ngIf="form.controls.password.errors?.['minlength']">
            <small>Password debe tener minino 8</small>
          </div>
        </div>

        <br>
        <label for="pwd2">Password Confirm</label>
        <input type="password" formControlName="password2" name="password2" id="pwd2" autocomplete="new-password">

        <!-- ERRORES -->
        <div *ngIf="form.controls.password2.invalid && (form.controls.password2.touched || form.controls.password2.dirty)">
          <div *ngIf="form.controls.password2.errors?.['required']">
            <small>Password requerido</small>
          </div>

          <div *ngIf="form.controls.password2.errors?.['minlength']">
            <small>Password debe tener minino 8</small>
          </div>
        </div>

        <div *ngIf="formErrors.length != 0">
          <small>{{formErrors}}</small>
        </div>

      </fieldset>
      <button type="submit">Actualizar</button>
    </form>
  </div>
</div>

<app-qr-code [hidden]="hiddenChilden[1]"></app-qr-code>

<app-chat-list [hidden]="hiddenChilden[2]" (suiEvent)="getUserId($event)"></app-chat-list>
