<div class="container-fluid text-white">
  <div *ngIf="isLoggedIn()" class="row">
    <div class="col-1">
      <div class="row">
        <app-tabbar (nameComponent)="enableComponent($event)" class="col-9 bg-success" style="height: 100vh;"></app-tabbar>
        <div class="col-3" style="background-color: #1f1f1f;"></div>
      </div>
    </div>

    <div class="col-3" style="background-color: #1f1f1f;">
      <app-tabbar-info [hiddenChilden]="hiddenComponent" (suiEvent)="showUserChat($event)"></app-tabbar-info>
    </div>

    <div class="col-8" style="height: 100vh; background-color: #212529;">
      <div [hidden]="IamAdmin">
        <app-navbar-chat [user]="client"></app-navbar-chat>
        <hr>
        <app-private-chat [chat]="chat" [UserId]="client.id"></app-private-chat>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!isLoggedIn()">
  <p>Usuario no Autenticado.</p>
</div>
