<div *ngIf="isLoggedIn()" style="display: flex; height: 70vh;">
  <div style="width: 7%; background-color:aquamarine;">
    <app-tabbar (nameComponent)="enableComponent($event)"></app-tabbar>
  </div>

  <div  style="width: 38%; background-color: gray;">
    <app-tabbar-info [hiddenChilden]="hiddenComponent" (suiEvent)="showUserChat($event)"></app-tabbar-info>
  </div>

  <div style="width: 65%; border-top: solid black 1px;">
    <div [hidden]="IamAdmin">
      <app-navbar-chat [user]="client"></app-navbar-chat>
      <hr>
      <app-private-chat [chat]="chat" [UserId]="client.id"></app-private-chat>
    </div>
  </div>
</div>

<div *ngIf="!isLoggedIn()">
  <p>Usuario no Autenticado.</p>
</div>
